body {
    background-color: rgb(0, 0, 0);
}

.BGCSS:hover {
    display: block
}

.BGCSS {
    position: relative;
    animation: opac 0.8s;
    color: #fff
}

.PageTextMiddleForDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.LianHoYeung {
    font-size: 2.5vw;
    position: relative;
    text-align: center;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.HRpage1 {
    border-color: #9e9e9e;
    margin: auto;
    width: 40%
}

.Welcome {
    font-size: 1vw;
    width: auto;
    text-align: center
}

.Bottom {
    width: 70%;
    border-radius: 2%;
    background-color: rgb(121, 194, 137);
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 10 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
    color: black
}

.background {
    background-image: url('background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover
}

.selfie {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 40%
}

.selfie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}

.w3-row-padding img {
    margin-bottom: 12px
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg.about.jpg');
    min-height: 100%;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

@media (min-width:993px) {
    .sidebar.collapse {
        display: block!important
    }
}

@media (max-width:992px) {
    .sidebar.collapse {
        display: none
    }
    .main {
        margin-left: 0!important;
        margin-right: 0!important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none!important
    }
}

.hide-small {
    display: none!important
}

.main {
    transition: margin-left .4s
}

.padding-large {
    padding: 12px 24px!important
}

.contain:after,
.contain:before,
.row-padding:after,
.row-padding:before {
    content: "";
    display: table;
    clear: both
}

.contain {
    padding: 0.01em 16px
}

.p2center {
    text-align: center!important
}

.p2center .bar {
    display: inline-block;
    width: auto
}

.bar-block.p2center .bar-item {
    text-align: center
}

.hide {
    display: none!important
}

.headingabout {
    color: black
}
